%p
  Osasco, 09 de setembro de 2011

%p= "Prezado(a) #{@director.director},"

%p{:style => "text-align:center;"}
  %b 
    RETIFICAMOS - DATAS DOS PLANTÕES
%p
  As datas dos plantões serão na semana que vem:
%p
  %b
    Disponibilizaremos Plantões de Dúvidas a autoras e autores dos trabalhos selecionados da rede para a elaboração de suas apresentações. Para ambos os formatos, Relato Oral e Pôster.
%p
  Os dias serão:
%p
  Segunda-feira – dia <b>12/09</b>, das 08h às 12h e das 13h às 17h
  %br
  Terça-feira – dia <b>13/09</b>, das 08h às 12h e das 13h às 17h
  %br
  LOCAL: Centro de Formação de Osasco, salas 09 e 10

%p
  Atenciosamente,
%p
  Organização do II Encontro Internacional de Educação