= "Prezado(a) #{@registration.name},"

%p
  Vimos, por meio desse e-mail, notificar que as inscrições realizadas para o 2º Encontro Internacional de Educação de Osasco, que tiveram os boletos emitidos e vencidos, serão automaticamente canceladas. Nos próximos e-mails, a partir da data de cancelamento, os inscritos serão notificados.
%p
  Gostaríamos de esclarecer que os painéis temáticos de quinta e sexta-feira possuem um número máximo de participantes e que o sistema conta a vaga ocupada mesmo de quem ainda não pagou. Desse modo, quem está interessado em participar destes painéis fica impossibilitado de fazê-lo, devido ao insuficiente número de vagas.
%p
  Caso o seu boleto tenho vencido, pedimos que realize novamente a sua inscrição e efetive o pagamento para garantir a sua inscrição.

%i
  Caso tenha feito o pagamento, ignore esse e-mail.

%p
  Agradecemos a compreensão,

%p
  Setor de Tecnologia da Informação
  Instituto Paulo Freire

