= "Caro(a) #{@director.director},"

%p
  Nos dias 5, 6 e 7 de outubro de 2011, realizaremos o 2º Encontro Internacional de Educação de Osasco. Para garantir a participação dos funcionários da rede municipal de educação de Osasco no evento, todos deveriam, por meio do site oficial do 2º EIE, se inscrever no encontro de acordo com as orientações da Secretaria de Educação, nos horários correspondentes ao período de trabalho de cada funcionário.
%p
  Tal como no 1º Encontro Internacional de Educação de Osasco, a certificação estará atrelada à efetiva participação de cada funcionário no evento. Para a emissão correta dos certificados, precisamos da confirmação de dados referentes aos inscritos de sua unidade educacional. Para isso, pedimos a gentileza de que confiram se os dados referentes ao cargo, ao horário de trabalho e aos painéis onde foram inscritos os funcionários dessa unidade estão corretos e, caso haja qualquer equívoco, que alterem diretamente na planilha, mudando a cor da fonte do texto que sofreu alteração para VERMELHO, a fim de que possamos identificar as mudanças que foram feitas.
%p
  A planilha terá as seguintes colunas: Nº da inscrição | Nome | Cargo | Período | Painel > Quinta-Feira | Painel > Sexta-Feira
%p
  Para a alteração dos períodos, solicitamos que façam a modificação da seguinte forma: caso esteja listado erroneamente o período da manhã, apague a palavra "manhã" e escreva a palavra "tarde", deixando a fonte em vermelho. O mesmo vale para o contrário, isto é, a alteração de "tarde" para "manhã", ou ainda, para "integral".
%p
  Essa alteração nos períodos poderá alterar também a participação dos professores nos vários painéis disponíveis. É conveniente lembrar a todos que os painéis temáticos acontecerão na quinta (período da tarde) e na sexta (período da manhã), antes de demonstrar, através de um exemplo, como a alteração do período pode modificar a escolha do painel.
%p
  Vamos supor que uma professora PDI I (que só poderia mesmo participar na sexta-feira, a não ser que possuísse um duplo vínculo) queira alterar sua participação do período da tarde para o da manhã. Para isso seria igualmente necessária a inserção dessa professora em um painel na sexta-feira, pois o sistema, como continha a informação de que ela participaria somente no período da tarde, não lhe ofereceu um painel na sexta (que só terá painéis durante a manhã) para que ela pudesse selecionar.
%p
  Para essa alteração dos painéis, pedimos que consultem, no final da listagem dos funcionários, a legenda que deverá ser utilizada para o preenchimento das colunas dos painéis na planilha de que estamos falando. Nas colunas dos painéis deverão ser colocados somente os números deles e não os títulos.
%p
  Compartilhamos, além da planilha mencionada, uma segunda planilha em que estão listadas as regras de participação por cargo.
%p
  Por fim, depois dessa correção, pedimos que nos enviem a planilha modificada para o e-mail eiesistema@paulofreire.org. Caso tenham qualquer dúvida ou dificuldade durante a verificação/correção desta planilha, pedimos que entrem em contato com a Soraia, no telefone 3021-5536.
%p
  Atenciosamente,
%p
  Anderson Alencar
  %br
  Instituto Paulo Freire
  %br
  Organização do II Encontro Internacional de Educação