= "Sr(a) #{@registration.name},"
%p
  = link_to 'Atualize os seus dados', edit_new_data_url(:id => @registration.id)

%p
  Instituto Paulo Freire
%p
  %i Esse é um e-mail automático, não há necessidade de respondê-lo.
