%p
  Bom dia,

%p
  Buscando viabilizar o acesso ao evento àqueles que estarão participando a distância, realizaremos a transmissão via internet por meio de três salas, referente a cada Círculo de Cultura. Também teremos uma quarta sala para a transmissão da Socialização dos Círculos e da homenagem a Paulo Freire.

%p
  Para assistir, no dia 10 de novembro, basta clicar no link (abaixo) que você deseja acompanhar. Você verá o vídeo da transmissão e um chat para que possa participar enviando mensagens, que poderão ser lidas durante o evento.  Para enviá-las, você precisará informar o seu nome. Depois, basta escrever no retângulo branco e clicar em say ou apertar Enter, para que sua participação possa ler lida.

%p
  %b Como você poderá participar?
  %ul
    %li Círculos de Cultura: enviando perguntas e comentários a respeito do tema e dos trabalhos apresentados
    %li
      Socialização das Sínteses: chat ficará aberto mas, por conta do tempo, os comentários não poderão ser lidos
    %li
      Homenagem a Paulo Freire: enviando depoimentos a respeito do educador e seu legado
%p
  %b Os participantes a distância receberão <span style="font-decoration='underline'">certificado</span> desde que:

  %ul
    %li tenham se inscrito previamente no evento
    %li se identifiquem em um dos chats do período da manhã e/ou no chat das atividades da tarde, por pelo menos 1h30 (cada período). O certificado informará se a participação foi pela manhã, tarde ou integral.
    %li a identificação deve ser feita utilizando-se o primeiro nome e iniciais do(s) sobrenome(s) em maiúscula, para que possa ser reconhecido pela lista de inscrição. Ex:  AnaSF (da participante fictícia Ana Paula Souza Fernandes)

%p
  As transmissões dos Círculos de Cultura devem ser realizadas das 9h às 12h30 pelos links:

%p
  %b= link_to "Educação Cidadã", "http://90anos.paulofreire.org/educacao_cidada/", :style => 'color:#9A1E21;'
%p
  %b= link_to "Educação Popular", "http://90anos.paulofreire.org/educacao_popular/", :style => 'color:#9A1E21;'
%p
  %b= link_to "Educação de Jovens e Adultos", "http://90anos.paulofreire.org/educacao_jovens_adultos/", :style => 'color:#9A1E21;'
%p
  A transmissão da Socialização das Sínteses dos Círculos de Cultura, da Homenagem aos 90 anos de Paulo Freire e da Atividade Cultural de Encerramento deve ser realizada entre 13h30 e 18h pelo link:
%p
  %b= link_to 'Auditório', 'http://90anos.paulofreire.org/auditorioipf/', :style => 'color:#9A1E21;'
%p
  %b Participe!
%p
  Atenciosamente,
%p
  %b Organização do encontro Paulo Freire 90 Anos - Educação como Ato Político, de Produção e de Conhecimento