= "Boa tarde <b>#{@registration.name}</b>,".html_safe

%p
  A lista dos trabalhos selecionados para apresentação nos Círculos de Cultura e dos trabalhos que terão seus resumos publicados no caderno do encontro Paulo Freire 90 Anos - Educação como Ato Político, de Produção e de Conhecimento foi publicada na última sexta-feira, dia 04 de novembro de 2011.

%p
  A lista pode ser conferida no link abaixo, com os títulos dos trabalhos, nomes de autores e coautores, a sala e o horário de apresentação:

%p
  = link_to 'http://90anos.paulofreire.org/wp-content/uploads/2011/11/Paulo_Freire_90_anos_Trabalhos_Selecionados.pdf', 'http://90anos.paulofreire.org/wp-content/uploads/2011/11/Paulo_Freire_90_anos_Trabalhos_Selecionados.pdf'


%p
  Parabenizamos a todos pela excelência dos trabalhos inscritos e pela disposição em contribuir para o evento.

%p
  Atenciosamente,
%p
  %b Organização do encontro Paulo Freire 90 Anos - Educação como Ato Político, de Produção e de Conhecimento