= "Caro(a) #{@registration.name},"
%p
  Gostaríamos de lembrá-lo(a) que <strong>amanhã, dia 3,</strong> encerra-se o prazo para o envio de trabalhos, e na <strong>sexta-feira, dia 4</strong>, serão publicados os resultados da avaliação por parte do Comitê Científico.

%p
  Caso precise de mais informações, ou esteja com qualquer dificuldade técnica, entre em contato pelo e-mail: 90anos@paulofreire.org ou ainda pelo telefone (11) 3021-5536, com o Neto.

%p
  Atenciosamente,

%p
  %b
    Organização do encontro "Paulo Freire 90 anos - Educação como Ato Político, de Produção e de Conhecimento"