%p
  = "Caro(a) #{@registration.name},"

%p
  Segue, em anexo, o seu certificado de participação no Encontro <b>"Paulo Freire 90 anos: Educação como Ato Político, de Produção e de Conhecimento"</b>.

%p
  Agradecemos a sua participação e nos colocamos a disposição para eventuais informações ou esclarecimentos.

%p
  Atenciosamente,
%p
  Organização do Encontro <b>"Paulo Freire 90 anos: Educação como Ato Político, de Produção e de Conhecimento"</b>