.list{
  width: 100%;
}

#error_explanation{
  color: red;
}

#registration_participation_type_1, #registration_participation_type_0{
  margin-left: 25px;
}

#paper_approved .dataTables_wrapper{
  width: 672px;
}